@model IEnumerable<InAndOut.Models.Expense>
 
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Expenses List</h2>
        </div>
        <div class="col-6 offset-10">
            <a class="btn btn-outline-primary" asp-controller="Expense" asp-action="Create">Create new Expense</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Expense</th>
                    <th>Amount</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="50%">@item.ExpenseName</td>
                        <td width="50%">@item.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else { 
        <a>No items created yet</a>
    }

</div>